DJANGO_SECRET_KEY=change-me-for-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_TIME_ZONE=Europe/London
DB_NAME=rest_compare_django
DB_USER=root
DB_PASSWORD=12345678
DB_HOST=127.0.0.1
DB_PORT=3306
