SERVER_PORT=8090
DB_URL=jdbc:mysql://localhost:3306/rest_compare_spring?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=12345678
DDL_AUTO=update
ROOT_LOG_LEVEL=INFO
